<template>
    <section id="section-contact" class="page-section mt-5">
        <h2 class="page-section__title"> Contact </h2>
        <div class="page-section__wrapper  pt-5">
            <p> Contact is lorem ...... </p>

            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dolorem nesciunt cumque incidunt eaque
                accusamus consectetur libero, voluptatem quas assumenda quis voluptatibus dolore eligendi atque nemo
                quos ab tenetur id. </p>
        </div>

    </section>
</template>
<style scoped lang="scss"></style>
<script setup lang="ts"></script>