<template>
    <section id="section-presentation" class="page-section">
        <h2 class="page-section__title"> Présentation </h2>
        <div class="page-section__wrapper page-section__wrapper--2-cols  pt-5">
            <div class="page-section__banner">
                <img src="@/assets/images/hero-banner.jpg" alt="Présentation" />
            </div>
            <div class="page-section__text pl-5">
                lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget sapien egestas
            </div>
        </div>

    </section>
</template>
<style scoped lang="scss"></style>
<script setup lang="ts"></script>