<template>
    <section id="section-works" class="page-section mt-5">
        <h2 class="page-section__title"> Travaux </h2>
        <div class="page-section__wrapper  pt-5">
            <a-row>
                <a-col v-for="work in works" :key="work.id" :sx="24" :sm="12" :xl="8">
                    <WorkCard :work="work" />
                </a-col>
            </a-row>
        </div>

    </section>
</template>
<script setup lang="ts">
import { onMounted } from 'vue';
import WorkCard from '@/components/modules/works/WorkCard.vue';
import { useWorksStore } from '@/stores/works';
import { storeToRefs } from 'pinia';

const worksStore = useWorksStore();
const { works } = storeToRefs(worksStore);

// mounted
onMounted(() => {
    worksStore.fetchWorks();
});

</script>