<template>
    <header class="header" id="top-navigation">
        <div class="header__wrapper container">
            <div class="header__logo">
                <h1>Farisonet portfolio </h1>
            </div>
            <nav class="header__menu">
                <MainMenu />
            </nav>
        </div>
        <a class="header__gotop" href="#top-navigation">
            <CaretUpOutlined />
        </a>
    </header>
</template>

<script setup lang="ts">
// MainMenu
import MainMenu from '@/components/shared/layout/MainMenu.vue';
import { CaretUpOutlined } from '@ant-design/icons-vue';
</script>