<template>
    <div class="main-menu">
        <!--  <router-link v-for="(item, index)  in MainMenuItem" :key="index" :to="item.path"> {{ item.title }}
        </router-link> -->
        <a v-for="(item, index)  in MainMenuItem" :key="index" :href="item.path"> {{ item.title }} </a>
    </div>
</template>

<script setup lang="ts">
const MainMenuItem = [{
    title: 'Présentation',
    path: '#section-presentation'
}, {
    title: 'Travaux',
    path: '#section-works'
}, {
    title: 'Contact',
    path: '#section-contact'
}]; 
</script>