<template>
    <div class="work-card">
        <div class="work-card__header">
            <img :src="props.work!.images" alt="work image" />
        </div>
        <div class="work-card__body">
            <h3 class="work-card__title"> {{ props.work!.title }} </h3>
            <p class="work-card__description"> {{ props.work!.description }} </p>
            <div class="work-card__btnsWrapper">
                <a href="" class="work-card__btnDetail">
                    <RightCircleOutlined :style="{ fontSize: '25px' }" />
                </a>
            </div>

        </div>
    </div>
</template>
<script setup lang="ts">
import { defineProps } from 'vue';
// type Work 
// import { Work } from '@/stores/works';
import { RightCircleOutlined } from '@ant-design/icons-vue';

// 
const props = defineProps({ work: Object });
</script>
