.work-card {
  background-color: $color-blue-dark-2;
  margin: 2rem;
  box-shadow: $shadow;
  &__header {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    padding: 1rem;
    h3 {
      color: $color-brand-primary;
      font-size: $fz-h3;
    }
    p {
      font-size: 1.2rem;
    }
  }

  &__btnsWrapper {
    text-align: right;
  }
  &__btnDeteil {
    display: inline-block;
  }
}
