<script setup lang="ts">

import { useCounterStore } from '../stores/counter';
import { storeToRefs } from 'pinia';

const counterStore = useCounterStore();
const { count, doubleCount } = storeToRefs(counterStore);
const { increment } = counterStore;

// --- sections ---
import Presentation from '@/views/sections/Presentation.vue';
import Works from '@/views/sections/Works.vue';
import Contact from '@/views/sections/Contact.vue';

</script>

<template>
    <Presentation />
    <Works />
    <Contact />

    <!--     <TheWelcome /> -->
    <p>Count is: {{ count }}</p>
    <p>Double count is: {{ doubleCount }}</p>
    <a-button type="primary" @click="increment">Increment</a-button>
</template>
