// exo
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Orelega One
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
