* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: $fz-default; // 14px
  line-height: 1.4;
  font-family: $font-family-default;
  background-color: $color-brand-secondary;
  color: white;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  text-align: justify;
  @include padding($gutter-half null);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: $transition;
  }
}

ul,
li {
  list-style: none;
}

// icon svg de btsrtVue :
* > svg {
  width: 100%;
  height: 100%;
}

// globale layout
#app {
  // flex-direction: column;
  height: 100%;
  .main {
    min-height: calc(100vh - 290px); //  (#{$header-hight} + #{$footer-hight}
    // @include padding($gutter-base null $gutter-half); // mixin from bourbon lib
    padding-top: 95px;
  }
}

// form surcharge
.form-group {
  // padding: $gutter-half;
  #{$all-text-inputs},
  select {
    font-size: $fz-default;
  }
}
.form-control {
  &--error {
    border: solid 1px red;
  }
}

// spinner surcharge
form {
  position: relative;
  .spinner-border {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    top: calc(50% - 25px);
    right: calc(50% - 25px);
    z-index: 100;
    opacity: 0.5;
  }

  &.is-spinning-form {
    &::after {
      content: '';
      background-color: rgba(#fff, 0.75);
      top: 0;
      left: 0;
      position: absolute;
      z-index: 50;
      width: 100% !important;
      height: 100% !important;
    }
  }
  /* .spinner-border + &::after {
    content: "";
    background-color: rgba(#fff, 0.75);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 50;
    width: 100% !important;
    height: 100% !important;
  } */
}

// pb of 1rem / 10px size !!!!
.btn,
.form-control {
  font-size: inherit;
}

.container {
  @include padding(null $gutter-half);
  @media #{$bp-min-md} {
    max-width: map-get($grid-breakpoints, 'lg');
    margin: 0 auto;
  }
}

// ----- spacing ( inspired from bootstrap !!  ) ------
$spacer: 0.5rem !default;
$spacer-count: 5; // Nombre de classes de padding à générer

@for $i from 1 through $spacer-count {
  .p-#{$i} {
    padding: ($spacer * $i) !important;
  }

  .px-#{$i} {
    padding-left: #{($spacer * $i)} !important;
    padding-right: #{($spacer * $i)} !important;
  }

  .py-#{$i} {
    padding-top: #{($spacer * $i)} !important;
    padding-bottom: #{($spacer * $i)} !important;
  }

  .pl-#{$i} {
    padding-left: #{($spacer * $i)} !important;
  }

  .pr-#{$i} {
    padding-right: #{($spacer * $i)} !important;
  }

  .pt-#{$i} {
    padding-top: #{($spacer * $i)} !important;
  }

  .pb-#{$i} {
    padding-bottom: #{($spacer * $i)} !important;
  }

  .m-#{$i} {
    margin: ($spacer * $i) !important;
  }

  .mx-#{$i} {
    margin: auto ($spacer * $i) !important;
  }

  .my-#{$i} {
    margin: ($spacer * $i) auto !important;
  }
  .ml-#{$i} {
    margin-left: #{($spacer * $i)} !important;
  }

  .mr-#{$i} {
    margin-right: #{($spacer * $i)} !important;
  }

  .mt-#{$i} {
    margin-top: #{($spacer * $i)} !important;
  }

  .mb-#{$i} {
    margin-bottom: #{($spacer * $i)} !important;
  }
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

// Global : page-section
.page-section {
  &__wrapper {
    &--2-cols {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  // title section
  &__title {
    color: $color-brand-primary;
    font-family: $font-family-title;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 20rem;
      height: 2px;
      background-color: $color-brand-primary;
      margin: 0 3rem;
    }
  }
}
