// FONTS
$font-family-default: Roboto, sans-serif;
$font-family-title: 'Orelega One', serif;
$fz-default: 1.4rem;
$fz-h4: 1.7rem;
$fz-h3: 2rem;
$fz-h2: 2.3rem;
$fz-h1: 2.6rem;

// colors
$color-orange-meduim: orange; // orange
$color-gray-meduim: rgb(129, 129, 129);
$color-gray-dark: darken($color-gray-meduim, 50%);
$color-gray-light: lighten($color-gray-meduim, 40%);
$color-blue-dark-1: #001854;
$color-blue-dark-2: darken($color-blue-dark-1, 5%);
$color-green-light: #14ff00;

// branding colors
$color-brand-primary: $color-green-light;
$color-brand-primary-ligher: lighten($color-brand-primary, 40%);
$color-brand-secondary: $color-blue-dark-1;
// $color-brand-third: $color-green-light;

// borders :
$border-default: 1px solid $color-gray-meduim;
$border-blue-dark: 1px solid $color-blue-dark-1;
$border-white: 1px solid white;

// shadow :
$shadow: 0 0 15px black;
$shadow-light: 0 0 7px rgba($color-blue-dark-1, 0.2);
$shadow-light:
  0px 9px 4px -7px #ccc,
  -50px -50px 0px -30px rgba(0, 0, 0, 0);

// transition
$transition: 0.3s ease-in-out all;

// spacing
$gutter-base: 30px; // var(--gutter-base)
$gutter-half: 15px; // var(--gutter-half)
$raduis: 5px;
$header-hight: 70px;
$footer-hight: 220px;

/*----- RESPONSIVE ------*/

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 991px,
  xl: 1200px
);

// MEDIA QUERY
$bp-min-sm: "only screen and (min-width: #{map-get($grid-breakpoints, 'sm')})"; // min 576px
$bp-min-md: "only screen and (min-width: #{map-get($grid-breakpoints, 'md')})"; // min 768px
$bp-min-lg: "only screen and (min-width: #{map-get($grid-breakpoints, 'lg')})"; // min 992px
$bp-min-xl: "only screen and (min-width: #{map-get($grid-breakpoints, 'xl')})"; // min 1200px
$bp-max-sm: "only screen and (max-width: #{map-get($grid-breakpoints, 'md')-1})"; // max 767px
$bp-max-md: "only screen and (max-width: #{map-get($grid-breakpoints, 'lg')-1})"; // max 991px
$bp-max-lg: "only screen and (max-width: #{map-get($grid-breakpoints, 'xl')-1})"; // max 1199px
