<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Header from "@/components/shared/layout/Header.vue";
import Footer from "@/components/shared/layout/Footer.vue";
</script>

<template>
  <div>
    <Header />
    <main class=" main container">
      <RouterView />
    </main>
    <Footer />
  </div>
</template>