<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Header from "@/components/shared/layout/Header.vue";

</script>
<template>

    <div class="admin-layout main container">
        <RouterView />
        <h2> admin-layout only for admin pages </h2>
    </div>
</template>