<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Header from "@/components/shared/layout/Header.vue";
import Footer from "@/components/shared/layout/Footer.vue";
</script>

<template>
  <Header />
  <div class="default-layout">

    <RouterView />
    <h2> default-layout for rest APP </h2>
  </div>
  <Footer />
</template>
