.header {
  background-color: $color-blue-dark-2;
  margin-bottom: $gutter-base;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__logo {
    h1 {
      font-size: 1.5rem;
    }
  }

  &__menu {
    a {
      margin-left: 3rem;
      text-decoration: none;

      &:hover,
      &.active,
      &:focus {
        // text-decoration: underline;
        color: $color-brand-primary;
      }
    }
  }

  // go top navigationb button
  &__gotop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
    // padding: $gutter-half;
    width: $gutter-base * 1.5;
    height: $gutter-base * 1.5;
    border: 1px solid white;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
